.videoContainer {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    display: none;
}

.file-upload {
    cursor: pointer;
    background: #757ce8;
    border-radius: 3px;
    padding: 5px 8px;
    color: white;
}

.backgroundContainer {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video {
    width: 100%;
    height: auto;
}

.videoContent {
    width: 95%;
    height: 450px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    height: 100vh;
    margin: auto;
}

.backgrounds {
    width: 95%;
    height: 450px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgrounds img {
    width: 100%;
    height: 95%;
    object-fit: cover;
    transform: scaleX(-1);
}

.loader {
    width: 100%;
    height: 100%;
}

@media (max-width: 769px) {
    .container {
        flex-direction: column;
        max-width: 100vw;
        height: 100vh;
    }
    .videoContainer {
        width: 100%;
        height: 50%;
    }
    .video {
        height: 95%;
    }
    .backgroundContainer {
        width: 100%;
        height: 50%;
    }
    .videoContent {
        width: 95%;
        height: 95%;
        margin-bottom: 0px;
    }
    .backgrounds {
        width: 95%;
        height: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .file-upload {
        margin-bottom: 5px;
    }
}